*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  body{
      background-color: #f7f7f7;
      /* padding: 0px 0 */
  }

  @media only screen and (max-width: 768px){
    #revue-form{
   display:block;
   }
   #member_submit{
   width:100%;
   }
   }


  #revue-form{
      max-width: 800px;
      margin: 0 auto;
      margin-bottom: 10px;
      background-color: #fff;
      border: 1px solid rgb(225, 219, 219);
      border-radius: 5px;
      padding: 5px;
      display: flex;
  }
  .revue-form-field{
      width: 100%;
      padding: 14px 20px;
      border-radius: 5px;
      font-size: 16px;
      border:0;
      flex-grow: 1;
  }
  .revue-form-field:focus{
      outline:none;
  }
  #member_submit{
      background-color: #0073EC;
      padding: 14px 34px;
      border: 0;
      cursor: pointer;
      color: #fff;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 500;
      flex-shrink: 0;
  }